### Working With Dates,Time & TimeZones in Julia
+ Time ==> only time
+ Dates ==> dates
+ DateTime ==> both Dates,Time

+ Pkg.add("Dates")
+ Pkg.add("TimeZones")

In [1]:
using Dates,TimeZones

WARNING: requiring "Dates" in module "Main" did not define a corresponding module.

#### Create DateTime Objects

In [2]:
favdate = DateTime(2018,01,21)

2018-01-21T00:00:00

In [3]:
Date(favdate)

2018-01-21

In [4]:
Time(favdate)

00:00:00

In [5]:
year(favdate)

2018

In [6]:
month(favdate)

1

In [7]:
monthname(favdate)

"January"

In [9]:
dayname(favdate)

"Sunday"

In [16]:
favdate1 = DateTime("2018,01,21 15:30","yyyy,mm,dd HH:MM")

2018-01-21T15:30:00

In [17]:
Time(favdate1)

15:30:00

In [18]:
Minute(favdate1)

30 minutes

#### Create DateTime Objects With Delimiter

In [19]:
favdate2 = DateTime("2018-01-21 15:30","yyyy-mm-dd HH:MM")

2018-01-21T15:30:00

In [20]:
# Other Functions
year(favdate2)

2018

In [21]:
hour(favdate2)

15

In [22]:
minute(favdate2)

30

In [23]:
second(favdate2)

0

In [ ]:
# Checking for current time and date

In [24]:
# Today's Dates
today()

2018-01-21

In [25]:
# Current time now using Unix Date
time()

1.51654699863e9

In [26]:
unix2datetime(time())

2018-01-21T15:03:42.488

In [31]:
#Time(now())
typeof(Time(now()))

Base.Dates.Time

In [30]:
#current time now
#now()
typeof(now())

DateTime

#### Create Date Objects

In [33]:
Date(["2017-02-14"],DateFormat("y-m-d"))

1-element Array{Date,1}:
 2017-02-14

In [34]:
# DateFormat must march each other
Date(["2017/02/14"],DateFormat("y/m/d"))

1-element Array{Date,1}:
 2017-02-14

#### Adding/Subtracting Dates

In [35]:
releasedate = DateTime(2012,02,14)

2012-02-14T00:00:00

In [36]:
# Create 100 Days
Day(100)

100 days

In [37]:
releasedate + Day(100)

2012-05-24T00:00:00

In [38]:
releasedate + Month(12)

2013-02-14T00:00:00

In [40]:
releasedate - Week(12)

2011-11-22T00:00:00

In [41]:
# Checking for Month
month(releasedate)

2

In [42]:
# Checking for Month Name
monthname(releasedate)

"February"

In [43]:
isleapyear(releasedate)

true

### Time Zone

In [45]:
# List All Time Zones
timezone_names()

439-element Array{AbstractString,1}:
 "Africa/Abidjan"
 "Africa/Accra"
 "Africa/Addis_Ababa"
 "Africa/Algiers"
 "Africa/Asmara"
 "Africa/Bamako"
 "Africa/Bangui"
 "Africa/Banjul"
 "Africa/Bissau"
 "Africa/Blantyre"
 "Africa/Brazzaville"
 "Africa/Bujumbura"
 "Africa/Cairo"
 â‹®
 "Pacific/Pitcairn"
 "Pacific/Pohnpei"
 "Pacific/Port_Moresby"
 "Pacific/Rarotonga"
 "Pacific/Saipan"
 "Pacific/Tahiti"
 "Pacific/Tarawa"
 "Pacific/Tongatapu"
 "Pacific/Wake"
 "Pacific/Wallis"
 "UTC"
 "WET"

In [46]:
TimeZone("Africa/Accra")

Africa/Accra (UTC+0)

In [47]:
# Short form of TimeZone 
tz"Europe/Paris"

Europe/Paris (UTC+1/UTC+2)

In [48]:
now()

2018-01-21T17:11:28.533

In [49]:
# Checking for the current time now with the timezone of Europe/Paris
now(TimeZone("Europe/Paris"))

2018-01-21T16:12:03.635+01:00

In [50]:
now(tz"Europe/Paris")

2018-01-21T16:12:18.459+01:00

In [ ]:
now(localzone())

In [51]:
whos(TimeZones)

                       @tz_str      0 bytes  TimeZones.#@tz_str
            AmbiguousTimeError    124 bytes  DataType
                      DateTime    112 bytes  DataType
                 FixedTimeZone    124 bytes  DataType
          NonExistentTimeError    124 bytes  DataType
                     TimeError     92 bytes  DataType
                      TimeZone     92 bytes  DataType
                     TimeZones  22457 KB     Module
            UnhandledTimeError    112 bytes  DataType
              VariableTimeZone    136 bytes  DataType
                 ZonedDateTime    136 bytes  DataType
                 all_timezones      0 bytes  TimeZones.#all_timezones
                    astimezone      0 bytes  TimeZones.#astimezone
                         build      0 bytes  TimeZones.#build
                           day      0 bytes  Base.Dates.#day
                    dayofmonth      0 bytes  Base.Dates.#dayofmonth
               firstdayofmonth      0 bytes  Base.Dates.#firstdayofmonth
             firstdayofquarter      0 bytes  Base.Dates.#firstdayofquarter
                firstdayofweek      0 bytes  Base.Dates.#firstdayofweek
                firstdayofyear      0 bytes  Base.Dates.#firstdayofyear
                         guess      0 bytes  Base.Dates.#guess
                          hour      0 bytes  Base.Dates.#hour
                    istimezone      0 bytes  TimeZones.#istimezone
                lastdayofmonth      0 bytes  Base.Dates.#lastdayofmonth
              lastdayofquarter      0 bytes  Base.Dates.#lastdayofquarter
                 lastdayofweek      0 bytes  Base.Dates.#lastdayofweek
                 lastdayofyear      0 bytes  Base.Dates.#lastdayofyear
                     localzone      0 bytes  TimeZones.#localzone
                   millisecond      0 bytes  Base.Dates.#millisecond
                        minute      0 bytes  Base.Dates.#minute
                         month      0 bytes  Base.Dates.#month
                      monthday      0 bytes  Base.Dates.#monthday
                           now      0 bytes  Base.Dates.#now
                        second      0 bytes  Base.Dates.#second
                timezone_abbrs      0 bytes  TimeZones.#timezone_abbrs
                timezone_names      0 bytes  TimeZones.#timezone_names
           timezones_from_abbr      0 bytes  TimeZones.#timezones_from_abbr
                          week      0 bytes  Base.Dates.#week
                          year      0 bytes  Base.Dates.#year
                     yearmonth      0 bytes  Base.Dates.#yearmonth
                  yearmonthday      0 bytes  Base.Dates.#yearmonthday

In [55]:
ZonedDateTime(2020,04,24, tz"Europe/Berlin")

2020-04-24T00:00:00+02:00

In [56]:
typeof(ZonedDateTime(2020,04,24, tz"Europe/Berlin"))

TimeZones.ZonedDateTime

In [ ]:
# J-Secur1ty
# Jesus Saves @ JCharisTech